{% set tag = 'h' ~ (level|default(2)) %}

{% set color_class = {
  'primary': 'text-[#141e6e]',
  'inverted': 'text-white'
}[color|default('primary')] %}

{% set accent_class = 'ipsosenso-section-title__accent--' ~ (accent|default('green')) %}

{% set align_modifier = align|default('center') == 'left' ? 'ipsosenso-section-title--align-left' : '' %}

<div class="ipsosenso-section-title {{ align_modifier }}">
  <{{ tag }} class="ipsosenso-section-title__heading {{ color_class }}">
    {{ title }}
  </{{ tag }}>
  <span class="ipsosenso-section-title__accent {{ accent_class }}"></span>
</div>
